/* =========================
   TERPOPULER - BARU
========================= */

.popular-item {
    min-height: 110px;
    margin-bottom: 12px;
    padding: 12px;

    display: grid;
    grid-template-columns: 45px 1fr 125px;
    gap: 15px;
    align-items: center;

    border: 1px solid #1b3857;
    border-radius: 10px;

    background: #0c1d32;
}

/* NOMOR DI KIRI */

.popular-number {
    color: #35a9ff;
    font-size: 20px;
    font-weight: 900;
}

/* TULISAN DI TENGAH */

.popular-content {
    grid-column: 2;
}

.popular-content h2 {
    margin-bottom: 5px;

    color: #ffffff;
    font-size: 17px;
    line-height: 1.3;
}

/* GAMBAR DI KANAN */

.popular-image {
    grid-column: 3;
    grid-row: 1;

    width: 125px;
    height: 82px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    background: #142b45;
    color: #71849a;
}

/* BERLAKU JUGA UNTUK GAMBAR BERITA */

.news-image {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #142b45;
    color: #71849a;
}
